<% currently_at 'Home' %>
<% provide :page_title %>
<%= stylesheet_link_tag "pages" %>
<h3 class='title'> <%= t('.title') %></h3>
<div style="width: 100%; font-size: 18px; text-align: center; font-family: 'Kurale',arial;"><%= t('.text') %></div>